@import url(http://fonts.googleapis.com/css?family=Glegoo:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#game-board {
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 15em;
    top: 85px;
    left: 300px;
}
#red,
#yellow,
#green,
#blue {
    height: 200px;
    width: 200px;
    float: right;
    text-align: center;
}
.selected {
    opacity: 0.3;
}
#red {
    background-color: #ef2b2d;
    border-top-right-radius: 15em;
}
#yellow {
    background-color: #fce016;
    border-top-left-radius: 15em;
}
#green {
    background-color: #5bbf21;
    border-bottom-right-radius: 15em;
}
#blue {
    background-color: #2d338e;
    border-bottom-left-radius: 15em;
}
#feedback {
    position: relative;
    left: 750px;
    top: 185px;
    height: 200px;
    width: 200px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}
header {
    position: fixed;
    height: 25px;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Glegoo', serif;
}
#start {
    position: absolute;
    bottom: 0;
    left: 20px;
    text-align: center;
    width: 150px;
    height:50px;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    background-color: #b5cc8e;
    border-radius: 5px;
}

h1 {
    font-family: 'Glegoo', serif;
    font-weight: bold;
    font-size: 1.25em;
}